################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreFileUploadExample/.vs/CoreFileUploadExample/v17/.suo
